.form__item {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 8px;
    width: 100%;
    
}

.form__item:focus {
    outline-color: rgb(78, 78, 255);
}