.profile__description {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
}

@media screen and (min-width: 1080px) {
    .profile__description {
        grid-row-start: 2;
        text-align: start;
        margin-left: 12px;
        font-size: 18px;
        line-height: 22px;
        max-width: 300px;
    }
}